{% extends "base.html" %}

{% block content %}
<h1 style="color: #ff6600">Welcome to the Al Mayadeen Dashboard</h1>
<h5 style="line-height: 2;">Your central hub for real-time insights and data visualization.<br>
    Here, you can explore the latest trends, top keywords, and significant topics<br> driving the
    conversation across the region. <br><br>This dashboard is designed to provide you with a comprehensive view of
    <br>the media landscape, allowing you to stay informed and ahead of the curve.<br>
    Dive into the data, uncover patterns, and make informed decisions with
    the<br> <b>power of visualized information</b> at your fingertips.</h5>
<hr>
<br>
<p class="highlighted-text" style="font-size: 2em;">Use the search input to find specific data,<br>or select a tab from the sidebar to view the visualizations


{% endblock %}